In [1]:
import pandas as pd
pd.set_option("display.max_rows",1000)    # or pd.options.display.max_rows=1000
pd.set_option("display.max_columns",20)   # or pd.options.display.max_columns=20 
pd.set_option('precision',7)
pd.set_option('large_repr', 'truncate')

In [2]:
import pandas as pd
data = pd.DataFrame({'group': ['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

  group  ounces
0     a     4.0
1     a     3.0
2     a    12.0
3     b     6.0
4     b     7.5
5     b     8.0
6     c     3.0
7     c     5.0
8     c     6.0

In [3]:
data.describe()

           ounces
count   9.0000000
mean    6.0555556
std     2.8553069
min     3.0000000
25%     4.0000000
50%     6.0000000
75%     7.5000000
max    12.0000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
group     9 non-null object
ounces    9 non-null float64
dtypes: float64(1), object(1)
memory usage: 224.0+ bytes

In [5]:
data.sort_values(by=['group','ounces'], ascending=[False, True], inplace=True)
data

  group  ounces
6     c     3.0
7     c     5.0
8     c     6.0
3     b     6.0
4     b     7.5
5     b     8.0
1     a     3.0
0     a     4.0
2     a    12.0

In [6]:
data.sort_values(by=['group','ounces'], ascending=[True, False], inplace=True)
data

  group  ounces
2     a    12.0
0     a     4.0
1     a     3.0
5     b     8.0
4     b     7.5
3     b     6.0
8     c     6.0
7     c     5.0
6     c     3.0

In [7]:
data.sort_values(by=['group','ounces'], ascending=[True, True], inplace=True)
data

  group  ounces
1     a     3.0
0     a     4.0
2     a    12.0
3     b     6.0
4     b     7.5
5     b     8.0
6     c     3.0
7     c     5.0
8     c     6.0

In [8]:
data.sort_values(by=['group','ounces'], ascending=[True, True], inplace=false)
data

NameError: name 'false' is not defined

In [9]:
data.sort_values(by=['group','ounces'], ascending=[True, True], inplace=False)
data

  group  ounces
1     a     3.0
0     a     4.0
2     a    12.0
3     b     6.0
4     b     7.5
5     b     8.0
6     c     3.0
7     c     5.0
8     c     6.0

In [10]:
import pandas as pd
data = pd.DataFrame({'k1': ['one'] * 3 + ['two'] * 4, 'k2': [3, 2, 1, 3, 3, 4, 4]})

In [11]:
data.sort_values(by='k2')
data

    k1  k2
0  one   3
1  one   2
2  one   1
3  two   3
4  two   3
5  two   4
6  two   4

In [12]:
data.drop_duplicates()

    k1  k2
0  one   3
1  one   2
2  one   1
3  two   3
5  two   4

In [13]:
import pandas as pd
data = pd.DataFrame({'names': ['AVM', 'VVP', 'IIK', 'ASP','KSS', 'AAP', 'KBN', 'HSC','HELo'],
                 'Rollnos': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

   Rollnos names
0      4.0   AVM
1      3.0   VVP
2     12.0   IIK
3      6.0   ASP
4      7.5   KSS
5      8.0   AAP
6      3.0   KBN
7      5.0   HSC
8      6.0  HELo

In [14]:
data.sort_values(by='Rollnos')

   Rollnos names
1      3.0   VVP
6      3.0   KBN
0      4.0   AVM
7      5.0   HSC
3      6.0   ASP
8      6.0  HELo
4      7.5   KSS
5      8.0   AAP
2     12.0   IIK

In [15]:
import pandas as pd
data = pd.DataFrame({'names': ['AVM', 'VVP', 'IIK', 'ASP','KSS', 'AAP', 'KBN', 'HSC','HELo'],
                 'Rollnos': [5, 2, 1, 9, 6, 4, 3, 7, 8]})
data

   Rollnos names
0        5   AVM
1        2   VVP
2        1   IIK
3        9   ASP
4        6   KSS
5        4   AAP
6        3   KBN
7        7   HSC
8        8  HELo

In [16]:
data.sort_values(by='Rollnos')

   Rollnos names
2        1   IIK
1        2   VVP
6        3   KBN
5        4   AAP
0        5   AVM
4        6   KSS
7        7   HSC
8        8  HELo
3        9   ASP

In [17]:
import pandas as pd
data = pd.DataFrame({'group': ['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

  group  ounces
0     a     4.0
1     a     3.0
2     a    12.0
3     b     6.0
4     b     7.5
5     b     8.0
6     c     3.0
7     c     5.0
8     c     6.0

In [18]:
data.describe()

           ounces
count   9.0000000
mean    6.0555556
std     2.8553069
min     3.0000000
25%     4.0000000
50%     6.0000000
75%     7.5000000
max    12.0000000

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
group     9 non-null object
ounces    9 non-null float64
dtypes: float64(1), object(1)
memory usage: 224.0+ bytes

In [20]:
data.sort_values(by=['group','ounces'], ascending=[False, True], inplace=True)
data

  group  ounces
6     c     3.0
7     c     5.0
8     c     6.0
3     b     6.0
4     b     7.5
5     b     8.0
1     a     3.0
0     a     4.0
2     a    12.0

In [21]:
import pandas as pd
data = pd.DataFrame({'k1': ['one'] * 3 + ['two'] * 4, 'k2': [3, 2, 1, 3, 3, 4, 4]})

In [22]:
data.sort_values(by='k2')
data

    k1  k2
0  one   3
1  one   2
2  one   1
3  two   3
4  two   3
5  two   4
6  two   4

In [23]:
data.drop_duplicates()

    k1  k2
0  one   3
1  one   2
2  one   1
3  two   3
5  two   4

In [24]:
data.drop_duplicates(subset='k1')

    k1  k2
0  one   3
3  two   3

In [25]:
import pandas as pd
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami','corned beef', 'Bacon', 'pastrami', 'honey ham','nova lox'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [26]:
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

def meat2animal(series):
    if series["food"]=='bacon':
        return 'pig'
    elif series["food"]=='pulled pork':
        return 'pig'
    elif series["food"]=='pastrami':
        return 'cow'
    elif series["food"]=='corned beef':
        return 'cow'
    elif series["food"]=='honey ham':
        return 'pig'
    else:
        return 'salmon'

In [27]:
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [28]:
# axis=1 means to apply the function for each row, but I prefer to use axis='columns' instead
data['animal2'] = data.apply(meat2animal,axis='columns')
data

          food  ounces  animal animal2
0        bacon     4.0     pig     pig
1  pulled pork     3.0     pig     pig
2        bacon    12.0     pig     pig
3     Pastrami     6.0     cow  salmon
4  corned beef     7.5     cow     cow
5        Bacon     8.0     pig  salmon
6     pastrami     3.0     cow     cow
7    honey ham     5.0     pig     pig
8     nova lox     6.0  salmon  salmon

In [29]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})

df.assign(ratio = df['data1'] / df['data2'])

       data1      data2      ratio
0  0.3596285  0.8889451  0.4045565
1 -0.4776347  2.4407790 -0.1956894
2 -0.0741181 -0.0368918  2.0090697
3  0.6027355  1.5060398  0.4002122
4 -0.3792481  0.5724396 -0.6625120

In [30]:
data.drop('animal2', axis='columns', inplace=True)  # dropping/removing a column
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [31]:
import pandas as pd
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [32]:
data.replace(-999, np.nan, inplace=True)
data

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [33]:
import pandas as pd
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [34]:
data.replace([-999, -1000], np.nan, inplace=True)
data

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [36]:
data.replace([-999, -1000], np.nan, inplace=True)
data

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [37]:
import pandas as pd
data = pd.DataFrame(np.arange(12).reshape((3, 4)),index=['Ohio', 'Colorado', 'New York'],columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [39]:
import pandas as pd
data = pd.DataFrame(np.arange(12).reshape((4, 3)),index=['Ohio', 'Colorado', 'New York','Delhi'],columns=['one', 'two', 'three',])
data

          one  two  three
Ohio        0    1      2
Colorado    3    4      5
New York    6    7      8
Delhi       9   10     11

In [40]:
data.index.map(str.upper)

array(['OHIO', 'COLORADO', 'NEW YORK', 'DELHI'], dtype=object)

In [41]:
import pandas as pd
data = pd.DataFrame(np.arange(12).reshape((3, 4)),index=['Ohio', 'Colorado', 'New York'],columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [42]:
data.index.map(str.upper)

array(['OHIO', 'COLORADO', 'NEW YORK'], dtype=object)

In [43]:
data.index = data.index.map(str.upper)
data

          one  two  three  four
OHIO        0    1      2     3
COLORADO    4    5      6     7
NEW YORK    8    9     10    11

In [44]:
data.rename(index=str.title, columns=str.upper, inplace=True)  # str.title means to make the 1st letter capitalized only
data

          ONE  TWO  THREE  FOUR
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [45]:
import pandas as pd
data = pd.DataFrame(np.arange(12).reshape((3, 4)),index=['Ohio', 'Colorado', 'New York'],columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [46]:
data.rename(index={'Ohio': 'INDIANA'},columns={'three': 'peekaboo'},inplace=True)
data

          one  two  peekaboo  four
INDIANA     0    1         2     3
Colorado    4    5         6     7
New York    8    9        10    11

In [47]:
data.rename(index=str.title, columns=str.upper, inplace=True)  # str.title means to make the 1st letter capitalized only
data

          ONE  TWO  PEEKABOO  FOUR
Indiana     0    1         2     3
Colorado    4    5         6     7
New York    8    9        10    11

In [48]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [49]:
bins = [18, 25, 35, 60, 100]

In [50]:
cats = pd.cut(ages, bins)
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, object): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [51]:
cats.labels

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: 'labels' is deprecated. Use 'codes' instead
  if __name__ == '__main__':

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [52]:
cats.levels

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: Accessing 'levels' is deprecated, use 'categories'
  if __name__ == '__main__':

Index(['(18, 25]', '(25, 35]', '(35, 60]', '(60, 100]'], dtype='object')

In [53]:
pd.value_counts(cats)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

In [54]:
pd.cut(ages, [18, 26, 36, 61, 100], right=False)

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, object): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

In [55]:
pd.cut(ages, [18, 26, 36, 61, 100], right=False)

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, object): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

In [56]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']
pd.cut(ages, bins, labels=group_names)
pd.value_counts(pd.cut(ages, bins, labels=group_names))

Youth         5
MiddleAged    3
YoungAdult    3
Senior        1
dtype: int64

In [58]:
import pandas as pd

df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a','b'],
                   'key2' : ['one', 'two', 'one', 'two', 'one', 'one'],
                   'data1' : np.random.randn(6),
                   'data2' : np.random.randn(6)})
df

       data1      data2 key1 key2
0  1.3363583 -0.8926201    a  one
1  2.3766076 -0.3382595    a  two
2  0.7105660  0.2092090    b  one
3 -0.0439121  1.2364346    b  two
4  0.2151039  0.9546649    a  one
5 -1.2621387  0.0111113    b  one

In [59]:
grouped = df['data1'].groupby(df['key1'])
grouped.mean()

key1
a    1.3093566
b   -0.1984949
Name: data1, dtype: float64

In [60]:
grouped = df['data1'].groupby(df['key2'])
grouped.mean()

key2
one    0.2499724
two    1.1663477
Name: data1, dtype: float64

In [62]:
df[0:5]  # get first 3 rows of the data frame

       data1      data2 key1 key2
0  1.3363583 -0.8926201    a  one
1  2.3766076 -0.3382595    a  two
2  0.7105660  0.2092090    b  one
3 -0.0439121  1.2364346    b  two
4  0.2151039  0.9546649    a  one

In [63]:
df['20130102':'20130104']

TypeError: cannot do slice indexing on <class 'pandas.indexes.range.RangeIndex'> with these indexers [20130102] of <class 'str'>

In [64]:
df[0:3]  # get first 3 rows of the data frame

       data1      data2 key1 key2
0  1.3363583 -0.8926201    a  one
1  2.3766076 -0.3382595    a  two
2  0.7105660  0.2092090    b  one

In [65]:
df['20130102':'20130104'] # get rows by index range

TypeError: cannot do slice indexing on <class 'pandas.indexes.range.RangeIndex'> with these indexers [20130102] of <class 'str'>

In [66]:
df

       data1      data2 key1 key2
0  1.3363583 -0.8926201    a  one
1  2.3766076 -0.3382595    a  two
2  0.7105660  0.2092090    b  one
3 -0.0439121  1.2364346    b  two
4  0.2151039  0.9546649    a  one
5 -1.2621387  0.0111113    b  one

In [67]:
import numpy as np
import pandas as pd

dates = pd.date_range('20130101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                    A          B          C          D
2013-01-01  0.8887530 -0.5899728  0.6429657  1.5187523
2013-01-02 -0.2775246  0.7347877 -1.6302404  0.0063692
2013-01-03 -0.2355394 -1.6279936  0.8859472 -0.8505492
2013-01-04  0.6052612 -1.2080417 -0.2648989 -0.7843306
2013-01-05 -0.2641965  0.3229595  0.2924693  2.0048241
2013-01-06 -0.5472106 -1.0260582  0.2080989  0.2335441

In [68]:
df[0:3]  # get first 3 rows of the data frame

                    A          B          C          D
2013-01-01  0.8887530 -0.5899728  0.6429657  1.5187523
2013-01-02 -0.2775246  0.7347877 -1.6302404  0.0063692
2013-01-03 -0.2355394 -1.6279936  0.8859472 -0.8505492

In [69]:
df['20130102':'20130104'] # get rows by index range

                    A          B          C          D
2013-01-02 -0.2775246  0.7347877 -1.6302404  0.0063692
2013-01-03 -0.2355394 -1.6279936  0.8859472 -0.8505492
2013-01-04  0.6052612 -1.2080417 -0.2648989 -0.7843306

In [70]:
df.loc[:,['A','B']]  # syntax is: df.loc[rows_index, cols_index]

                    A          B
2013-01-01  0.8887530 -0.5899728
2013-01-02 -0.2775246  0.7347877
2013-01-03 -0.2355394 -1.6279936
2013-01-04  0.6052612 -1.2080417
2013-01-05 -0.2641965  0.3229595
2013-01-06 -0.5472106 -1.0260582

In [71]:
df.iloc[3]

A    0.6052612
B   -1.2080417
C   -0.2648989
D   -0.7843306
Name: 2013-01-04 00:00:00, dtype: float64

In [72]:
df

                    A          B          C          D
2013-01-01  0.8887530 -0.5899728  0.6429657  1.5187523
2013-01-02 -0.2775246  0.7347877 -1.6302404  0.0063692
2013-01-03 -0.2355394 -1.6279936  0.8859472 -0.8505492
2013-01-04  0.6052612 -1.2080417 -0.2648989 -0.7843306
2013-01-05 -0.2641965  0.3229595  0.2924693  2.0048241
2013-01-06 -0.5472106 -1.0260582  0.2080989  0.2335441

In [73]:
df.iloc[3]

A    0.6052612
B   -1.2080417
C   -0.2648989
D   -0.7843306
Name: 2013-01-04 00:00:00, dtype: float64

In [74]:
df

                    A          B          C          D
2013-01-01  0.8887530 -0.5899728  0.6429657  1.5187523
2013-01-02 -0.2775246  0.7347877 -1.6302404  0.0063692
2013-01-03 -0.2355394 -1.6279936  0.8859472 -0.8505492
2013-01-04  0.6052612 -1.2080417 -0.2648989 -0.7843306
2013-01-05 -0.2641965  0.3229595  0.2924693  2.0048241
2013-01-06 -0.5472106 -1.0260582  0.2080989  0.2335441

In [77]:
df.iloc[3:5,0:4]

                    A          B          C          D
2013-01-04  0.6052612 -1.2080417 -0.2648989 -0.7843306
2013-01-05 -0.2641965  0.3229595  0.2924693  2.0048241

In [78]:
df.iloc[3:6,0:4]

                    A          B          C          D
2013-01-04  0.6052612 -1.2080417 -0.2648989 -0.7843306
2013-01-05 -0.2641965  0.3229595  0.2924693  2.0048241
2013-01-06 -0.5472106 -1.0260582  0.2080989  0.2335441

In [79]:
df

                    A          B          C          D
2013-01-01  0.8887530 -0.5899728  0.6429657  1.5187523
2013-01-02 -0.2775246  0.7347877 -1.6302404  0.0063692
2013-01-03 -0.2355394 -1.6279936  0.8859472 -0.8505492
2013-01-04  0.6052612 -1.2080417 -0.2648989 -0.7843306
2013-01-05 -0.2641965  0.3229595  0.2924693  2.0048241
2013-01-06 -0.5472106 -1.0260582  0.2080989  0.2335441

In [80]:
df.iloc[[1,5],[0,2]]

                    A          C
2013-01-02 -0.2775246 -1.6302404
2013-01-06 -0.5472106  0.2080989

In [81]:
df.iloc[1,1]

0.73478771952283684

In [82]:
df

                    A          B          C          D
2013-01-01  0.8887530 -0.5899728  0.6429657  1.5187523
2013-01-02 -0.2775246  0.7347877 -1.6302404  0.0063692
2013-01-03 -0.2355394 -1.6279936  0.8859472 -0.8505492
2013-01-04  0.6052612 -1.2080417 -0.2648989 -0.7843306
2013-01-05 -0.2641965  0.3229595  0.2924693  2.0048241
2013-01-06 -0.5472106 -1.0260582  0.2080989  0.2335441

In [83]:
df.iloc[1,1]

0.73478771952283684

In [86]:
for line in open('D:\vvp\dataset\ml-1m\movies.dat','r'):
    print(line)

OSError: [Errno 22] Invalid argument: 'D:\x0bvp\\dataset\\ml-1m\\movies.dat'

In [87]:
import pandas as pd
df=pd.read_table('D:\vvp\dataset\ml-1m\movies',sep='::')
df

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  from ipykernel import kernelapp as app

OSError: [Errno 22] Invalid argument: 'D:\x0bvp\\dataset\\ml-1m\\movies'

In [88]:
import pandas as pd
df=pd.read_table('D:\vvp\dataset\ml-1m\movies.dat',sep='::')
df

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  from ipykernel import kernelapp as app

OSError: [Errno 22] Invalid argument: 'D:\x0bvp\\dataset\\ml-1m\\movies'

In [90]:
import pandas as pd
df=pd.read_table('D:\vvp\dataset\ml-1m\movies.dat', sep='::')
df

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  from ipykernel import kernelapp as app

OSError: [Errno 22] Invalid argument: 'D:\x0bvp\\dataset\\ml-1m\\movies.dat'

In [91]:
import pandas as pd
df=pd.read_table('D:\vvp\dataset\ml-1m\movies.dat', sep='::')
df

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  from ipykernel import kernelapp as app

OSError: [Errno 22] Invalid argument: 'D:\x0bvp\\dataset\\ml-1m\\movies.dat'

In [94]:
import pandas as pd
df=pd.read_table('movies.dat', sep='::' nrows=10)
df

SyntaxError: invalid syntax (<ipython-input-94-5c1e863bfd5b>, line 2)

In [97]:
import pandas as pd
df=pd.read_table('ratings.dat', sep='::')
df

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  from ipykernel import kernelapp as app

            1  1193  5  978300760
0           1   661  3  978302109
1           1   914  3  978301968
2           1  3408  4  978300275
3           1  2355  5  978824291
4           1  1197  3  978302268
5           1  1287  5  978302039
6           1  2804  5  978300719
7           1   594  4  978302268
8           1   919  4  978301368
9           1   595  5  978824268
10          1   938  4  978301752
11          1  2398  4  978302281
12          1  2918  4  978302124
13          1  1035  5  978301753
14          1  2791  4  978302188
15          1  2687  3  978824268
16          1  2018  4  978301777
17          1  3105  5  978301713
18          1  2797  4  978302039
19          1  2321  3  978302205
20          1   720  3  978300760
21          1  1270  5  978300055
22          1   527  5  978824195
23          1  2340  3  978300103
24          1    48  5  978824351
25          1  1097  4  978301953
26          1  1721  4  978300055
27          1  1545  4  978824139
28          1   745  3  978824268
29          1  2294  4  978824291
30          1  3186  4  978300019
31          1  1566  4  978824330
32          1   588  4  978824268
33          1  1907  4  978824330
34          1   783  4  978824291
35          1  1836  5  978300172
36          1  1022  5  978300055
37          1  2762  4  978302091
38          1   150  5  978301777
39          1     1  5  978824268
40          1  1961  5  978301590
41          1  1962  4  978301753
42          1  2692  4  978301570
43          1   260  4  978300760
44          1  1028  5  978301777
45          1  1029  5  978302205
46          1  1207  4  978300719
47          1  2028  5  978301619
48          1   531  4  978302149
49          1  3114  4  978302174
50          1   608  4  978301398
51          1  1246  4  978302091
52          2  1357  5  978298709
53          2  3068  4  978299000
54          2  1537  4  978299620
55          2   647  3  978299351
56          2  2194  4  978299297
57          2   648  4  978299913
58          2  2268  5  978299297
59          2  2628  3  978300051
60          2  1103  3  978298905
61          2  2916  3  978299809
62          2  3468  5  978298542
63          2  1210  4  978298151
64          2  1792  3  978299941
65          2  1687  3  978300174
66          2  1213  2  978298458
67          2  3578  5  978298958
68          2  2881  3  978300002
69          2  3030  4  978298434
70          2  1217  3  978298151
71          2  3105  4  978298673
72          2   434  2  978300174
73          2  2126  3  978300123
74          2  3107  2  978300002
75          2  3108  3  978299712
76          2  3035  4  978298625
77          2  1253  3  978299120
78          2  1610  5  978299809
79          2   292  3  978300123
80          2  2236  5  978299220
81          2  3071  4  978299120
82          2   902  2  978298905
83          2   368  4  978300002
84          2  1259  5  978298841
85          2  3147  5  978298652
86          2  1544  4  978300174
87          2  1293  5  978298261
88          2  1188  4  978299620
89          2  3255  4  978299321
90          2  3256  2  978299839
91          2  3257  3  978300073
92          2   110  5  978298625
93          2  2278  3  978299889
94          2  2490  3  978299966
95          2  1834  4  978298813
96          2  3471  5  978298814
97          2   589  4  978299773
98          2  1690  3  978300051
99          2  3654  3  978298814
100         2  2852  3  978298958
101         2  1945  5  978298458
102         2   982  4  978299269
103         2  1873  4  978298542
104         2  2858  4  978298434
105         2  1225  5  978298391
106         2  2028  4  978299773
107         2   515  5  978298542
108         2   442  3  978300025
109         2  2312  3  978299046
110         2   265  4  978299026
111         2  1408  3  978299839
112         2  1084  3  978298813
113         2  3699  2  978299173
114         2   480  5  978299809
115         2  1442  4  978299297
116         2  2067  5  978298625
117         2  1265  3  978299712
118         2  1370  5  978299889
119         2  1193  5  978298413
120         2  1801  3  978300002
121         2  1372  3  978299941
122         2  2353  4  978299861
123         2  3334  4  978298958
124         2  2427  2  978299913
125         2   590  5  978299083
126         2  1196  5  978298730
127         2  1552  3  978299941
128         2   736  4  978300100
129         2  1198  4  978298124
130         2   593  5  978298517
131         2  2359  3  978299666
132         2    95  2  978300143
133         2  2717  3  978298196
134         2  2571  4  978299773
135         2  1917  3  978300174
136         2  2396  4  978299641
137         2  3735  3  978298814
138         2  1953  4  978298775
139         2  1597  3  978300025
140         2  3809  3  978299712
141         2  1954  5  978298841
142         2  1955  4  978299200
143         2   235  3  978299351
144         2  1124  5  978299418
145         2  1957  5  978298750
146         2   163  4  978299809
147         2    21  1  978299839
148         2   165  3  978300002
149         2  2321  3  978299666
150         2  1090  2  978298580
151         2   380  5  978299809
152         2  2501  5  978298600
153         2   349  4  978299839
154         2   457  4  978299773
155         2  1096  4  978299386
156         2   920  5  978298775
157         2   459  3  978300002
158         2  1527  4  978299839
159         2  3418  4  978299809
160         2  1385  3  978299966
161         2  3451  4  978298924
162         2  3095  4  978298517
163         2   780  3  978299966
164         2   498  3  978299418
165         2  2728  3  978298881
166         2  2002  5  978300100
167         2  1962  5  978298813
168         2  1784  5  978298841
169         2  2943  4  978298372
170         2  2006  3  978299861
171         2   318  5  978298413
172         2  1207  4  978298478
173         2  1968  2  978298881
174         2  3678  3  978299250
175         2  1244  3  978299143
176         2   356  5  978299686
177         2  1245  2  978299200
178         2  1246  5  978299418
179         2  3893  1  978299535
180         2  1247  5  978298652
181         3  3421  4  978298147
182         3  1641  2  978298430
183         3   648  3  978297867
184         3  1394  4  978298147
185         3  3534  3  978297068
186         3   104  4  978298486
187         3  2735  4  978297867
188         3  1210  4  978297600
189         3  1431  3  978297095
190         3  3868  3  978298486
191         3  1079  5  978298296
192         3  2997  3  978298147
193         3  1615  5  978297710
194         3  1291  4  978297600
195         3  1259  5  978298296
196         3   653  4  978297757
197         3  2167  5  978297600
198         3  1580  3  978297663
199         3  3619  2  978298201
200         3   260  5  978297512
201         3  2858  4  978297039
202         3  3114  3  978298103
203         3  1049  4  978297805
204         3  1261  1  978297663
205         3   552  4  978297837
206         3   480  4  978297690
207         3  1265  2  978298316
208         3  1266  5  978297396
209         3   733  5  978297757
210         3  1196  4  978297539
211         3   590  4  978297439
212         3  2355  5  978298430
213         3  1197  5  978297570
214         3  1198  5  978297570
215         3  1378  5  978297419
216         3   593  3  978297018
217         3  1379  4  978297419
218         3  3552  5  978298459
219         3  1304  5  978298166
220         3  1270  3  978298231
221         3  2470  4  978297777
222         3  3168  4  978297570
223         3  2617  2  978297837
224         3  1961  4  978297095
225         3  3671  5  978297419
226         3  2006  4  978297757
227         3  2871  4  978297539
228         3  2115  4  978297777
229         3  1968  4  978297068
230         3  1136  5  978298079
231         3  2081  4  978298504
232         4  3468  5  978294008
233         4  1210  3  978293924
234         4  2951  4  978294282
235         4  1214  4  978294260
236         4  1036  4  978294282
237         4   260  5  978294199
238         4  2028  5  978294230
239         4   480  4  978294008
240         4  1196  2  978294199
241         4  1198  5  978294199
242         4  1954  5  978294282
243         4  1097  4  978293964
244         4  3418  4  978294260
245         4  3702  4  978294260
246         4  2366  4  978294230
247         4  1387  5  978294199
248         4  3527  1  978294008
249         4  1201  5  978294230
250         4  2692  5  978294230
251         4  2947  5  978294230
252         4  1240  5  978294260
253         5  2987  4  978243170
254         5  2333  4  978242607
255         5  1175  5  978244759
256         5    39  3  978245037
257         5   288  2  978246585
258         5  2337  5  978243121
259         5  1535  4  978245513
260         5  1392  4  978245645
261         5  2268  2  978246033
262         5  1466  3  978245695
263         5   860  2  978244493
264         5  1683  3  978246108
265         5   866  4  978245334
266         5  1684  3  978244540
267         5  2916  1  978245645
268         5  2770  4  978241981
269         5   215  3  978245422
270         5  1759  4  978245513
271         5   501  1  978244001
272         5  3578  2  978243803
273         5   506  4  978245999
274         5  1250  5  978241112
275         5  3793  2  978243170
276         5   509  4  978245829
277         5    41  4  978244692
278         5  1610  4  978245645
279         5  2058  1  978245740
280         5  3799  3  978243937
281         5  2997  5  978241556
282         5    47  3  978245334
283         5  2700  4  978243085
284         5   296  4  978244177
285         5   581  3  978244808
286         5  1617  3  978244025
287         5   728  4  978244759
288         5   299  3  978242934
289         5  3079  2  978246162
290         5  2560  4  978242977
291         5  1909  3  978246479
292         5   150  2  978245763
293         5   224  3  978245829
294         5  3728  2  978244568
295         5   229  3  978246528
296         5     6  2  978245916
297         5  3006  3  978245422
298         5  2858  4  978241390
299         5  1046  5  978244114
300         5   515  4  978245891
301         5   800  2  978244540
302         5    50  5  978244205
303         5    52  2  978246479
304         5  1191  2  978246426
305         5  1192  5  978244493
306         5   733  1  978245763
307         5  3081  3  978243054
308         5   377  4  978245999
309         5  2353  3  978245790
310         5  1268  2  978245948
311         5  3083  5  978244114
312         5  2427  5  978246450
313         5  3513  1  978243896
314         5  2428  3  978242541
315         5  2355  5  978241981
316         5  2282  3  978244667
317         5  3514  2  978243869
318         5  1554  3  978244540
319         5  1912  3  978244624
320         5   593  4  978244177
321         5  2359  3  978245568
322         5  2716  3  978242607
323         5  1485  3  978246576
324         5  2717  1  978241072
325         5  2571  5  978244493
326         5  2289  4  978244568
327         5   162  4  978244624
328         5  1127  1  978241390
329         5  3016  4  978242016
330         5  2070  2  978243121
331         5  1704  3  978244517
332         5  3163  5  978244852
333         5  2437  2  978244759
334         5  2291  5  978244808
335         5  1635  4  978245314
336         5  1279  1  978245314
337         5  2721  3  978243121
338         5  2723  4  978242788
339         5  1921  4  978246162
340         5  2725  2  978246162
341         5  1923  3  978245314
342         5  2580  4  978242607
343         5  3386  2  978245948
344         5  3744  1  978243896
345         5   968  3  978242847
346         5   896  4  978244493
347         5  3020  1  978245916
348         5  1788  3  978244603
349         5   318  3  978244177
350         5   176  4  978244568
351         5   461  3  978244893
352         5   608  4  978244177
353         5  1429  3  978245829
354         5  2159  1  978244808
355         5  1715  4  978245891
356         5  1643  3  978245916
357         5  3249  1  978245916
358         5  3176  2  978243085
359         5  1719  3  978244205
360         5  2806  2  978243085
361         5  2734  2  978242788
362         5  1649  4  978244667
363         5   321  3  978245863
364         5  2013  3  978242934
365         5  3100  1  978245645
366         5  2952  2  978245790
367         5  1213  5  978244177
368         5  1794  3  978245966
369         5  2599  5  978242323
370         5  1500  3  978245314
371         5  3105  2  978246576
372         5  2959  4  978242541
373         5  1509  3  978244962
374         5  1721  1  978245763
375         5  1722  2  978246108
376         5  1650  3  978245314
377         5   908  4  978241072
378         5  1580  4  978245999
379         5  1653  2  978245891
380         5  2384  3  978245708
381         5  1729  4  978245763
382         5  3476  3  978245916
383         5  2890  4  978245445
384         5  3113  1  978242323
385         5  2028  2  978244053
386         5    16  3  978245645
387         5   265  3  978245037
388         5  2029  4  978246555
389         5   194  3  978246108
390         5   551  4  978246504
391         5  1513  4  978242977
392         5  3046  3  978244962
393         5  2318  4  978242640
394         5  1517  4  978245568
395         5  1089  5  978244205
396         5  3260  4  978245065
397         5   913  5  978242740
398         5  1730  4  978244603
399         5  3408  3  978242323
400         5  3409  3  978242541
401         5  2607  2  978242607
402         5  1449  4  978244830
403         5  1732  5  978245740
404         5  1733  3  978246450
405         5  2390  4  978242679
406         5  1734  4  978245334
407         5  3266  2  978246162
408         5  3267  4  978244893
409         5   919  4  978241072
410         5  3624  3  978243803
411         5  2395  5  978243054
412         5  1594  1  978245548
413         5  2683  3  978241434
414         5   412  2  978245891
415         5  2759  3  978242080
416         5   994  5  978244540
417         5  1884  3  978246576
418         5  1885  4  978245568
419         5   272  3  978245487
420         5    24  1  978242934
421         5  3051  2  978241434
422         5   348  4  978245863
423         5  2323  4  978245445
424         5  1093  2  978242080
425         5    29  5  978245065
426         5   562  4  978244603
427         5  1095  4  978245065
428         5  1527  3  978246479
429         5  1529  4  978245037
430         5  3418  3  978244962
431         5  2188  1  978241390
432         5   497  3  978245687
433         5   202  2  978246033
434         5  1747  2  978245663
435         5  2908  4  978241981
436         5  2762  3  978243054
437         5  2692  4  978242977
438         5  1966  2  978245931
439         5  3499  3  978245065
440         5   353  2  978246504
441         5    32  4  978244962
442         5  1243  3  978244001
443         5  1897  4  978246426
444         5  1171  4  978244852
445         5  3786  3  978241981
446         5    34  4  978244603
447         5   356  1  978241112
448         5   357  2  978245829
449         5    36  3  978244808
450         5   714  4  978244493
451         6  2406  5  978236670
452         6  1101  4  978236670
453         6  3717  4  978238371
454         6  1030  4  978237691
455         6  1688  5  978237570
456         6  1035  5  978237767
457         6  3578  4  978238195
458         6   364  4  978237570
459         6  3501  5  978236670
460         6  3072  4  978236075
461         6   368  4  978237909
462         6   296  2  978237379
463         6    48  5  978237570
464         6  3074  5  978238036
465         6  1188  4  978236771
466         6  3508  3  978238036
467         6   588  4  978237511
468         6     1  4  978237008
469         6  1043  4  978236219
470         6  2858  1  978236809
471         6   377  3  978236383
472         6   590  3  978237232
473         6   595  4  978237511
474         6   597  5  978239019
475         6   383  4  978237909
476         6  2506  3  978236975
477         6  3524  3  978236719
478         6  1566  4  978237570
479         6  1569  4  978238948
480         6  2006  4  978236122
481         6  2081  4  978236567
482         6  2082  3  978236975
483         6  3600  3  978237813
484         6  3604  5  978237767
485         6  2802  4  978236612
486         6  3534  4  978236219
487         6  3536  5  978238230
488         6  1210  3  978236219
489         6  3753  5  978238195
490         6  3682  3  978238036
491         6  2017  3  978237813
492         6  3685  3  978236519
493         6  3610  3  978237813
494         6  1296  3  978236519
495         6   838  4  978237444
496         6  1007  3  978238036
497         6  1947  5  978237767
498         6  2966  5  978237273
499         6   266  4  978237909
...       ...   ... ..        ...
999708   6037  3363  5  956710012
999709   6037  3379  5  956709950
999710   6037  2728  3  956709393
999711   6037   198  3  956801707
999712   6037  1019  3  956801812
999713   6037  2762  4  956718658
999714   6037   527  5  956709215
999715   6037  2010  3  956801533
999716   6037   541  3  956801533
999717   6037  1077  4  956719150
999718   6037  2028  4  956708997
999719   6037  1080  4  956719097
999720   6037  1086  4  956718757
999721   6037  1089  3  956718797
999722   6037   562  4  956709118
999723   6037  1097  5  956709587
999724   6038  1419  4  956714815
999725   6038   920  3  956706827
999726   6038  3088  5  956707640
999727   6038   232  4  956707640
999728   6038  1136  4  956707708
999729   6038  1148  5  956707604
999730   6038  1183  5  956717204
999731   6038  2146  4  956706909
999732   6038  3548  4  956707604
999733   6038   356  4  956707005
999734   6038  1210  4  956706876
999735   6038  1223  5  956707734
999736   6038  1276  3  956707604
999737   6038  1296  5  956714684
999738   6038  1354  3  956714725
999739   6038  1387  2  956707005
999740   6038  2700  1  956715051
999741   6038  2716  3  956707604
999742   6038  3396  3  956706827
999743   6038  1079  5  956707547
999744   6039   588  4  956705950
999745   6039  2067  4  956705178
999746   6039  1416  4  956706075
999747   6039  3022  4  956705281
999748   6039  3028  3  956705749
999749   6039  2080  4  956706051
999750   6039  2083  3  956705989
999751   6039  2087  3  956705872
999752   6039  3035  4  956705545
999753   6039  3037  5  956705679
999754   6039   900  3  956705907
999755   6039   901  4  956706019
999756   6039   903  5  956706148
999757   6039   904  5  956706148
999758   6039   906  4  956706201
999759   6039  2096  4  956706019
999760   6039   907  4  956705486
999761   6039   909  3  956705564
999762   6039   911  4  956705636
999763   6039   912  4  956758029
999764   6039   913  5  956706148
999765   6039   914  4  956705872
999766   6039   915  4  956705733
999767   6039   916  5  956705703
999768   6039   918  5  956705907
999769   6039   919  4  956705872
999770   6039   922  5  956758029
999771   6039   923  4  956706538
999772   6039   924  4  956705811
999773   6039   926  5  956706324
999774   6039   930  4  956705202
999775   6039   933  4  956705470
999776   6039   935  3  956705508
999777   6039   938  4  956706019
999778   6039  2414  3  956706233
999779   6039  3072  3  956705470
999780   6039   942  4  956706201
999781   6039   945  4  956705653
999782   6039   947  3  956705281
999783   6039   950  4  956706182
999784   6039  3088  5  956705281
999785   6039   951  4  956705441
999786   6039   952  4  956705679
999787   6039   955  4  956705351
999788   6039   963  3  956705950
999789   6039  3421  2  956705323
999790   6039  2804  4  956705323
999791   6039  3471  4  956705790
999792   6039   260  5  956705790
999793   6039   282  4  956705158

In [1]:
import pandas as pd
pd.set_option("display.max_rows",1000)    # or pd.options.display.max_rows=1000
pd.set_option("display.max_columns",20)   # or pd.options.display.max_columns=20 
pd.set_option('precision',7)
pd.set_option('large_repr', 'truncate')

In [2]:
pd

In [3]:
import pandas as pd
data = pd.DataFrame({'group': ['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
                 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

  group  ounces
0     a     4.0
1     a     3.0
2     a    12.0
3     b     6.0
4     b     7.5
5     b     8.0
6     c     3.0
7     c     5.0
8     c     6.0

In [4]:
import pandas as df
data1=df.DataFrame({'Name of the student':['IIK','vvp','AVM'],'Marks':[95,85,100]})
data1

   Marks Name of the student
0     95                 IIK
1     85                 vvp
2    100                 AVM

In [5]:
data1.describe()

             Marks
count    3.0000000
mean    93.3333333
std      7.6376262
min     85.0000000
25%     90.0000000
50%     95.0000000
75%     97.5000000
max    100.0000000

In [6]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
Marks                  3 non-null int64
Name of the student    3 non-null object
dtypes: int64(1), object(1)
memory usage: 128.0+ bytes

In [7]:
data.sort_values(by=['group','ounces'], ascending=[False, True], inplace=True)
data

  group  ounces
6     c     3.0
7     c     5.0
8     c     6.0
3     b     6.0
4     b     7.5
5     b     8.0
1     a     3.0
0     a     4.0
2     a    12.0

In [ ]:
import pandas as pd
import numpy as np
movies=read_csv('movies.dat',sep='::')